<% if (email) { %>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">TinyApp</a>
      </div>

      <ul class="nav navbar-nav">
        <li>
          <form action="/urls" method="GET">
            <button class="btn navbar-btn btn-default btn-xs" type="submit">My Links</button>
          </form>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" style="margin-right:1px;">
        <li class="navbar-text"><%= email %></li>
        <li>
          <form action="/logout?_method=DELETE" method="POST">
            <button class="btn navbar-btn btn-default btn-xs" type="submit">logout</button>
          </form>
        </li>
      </ul>

    </div>
  </nav>

<% } else { %>
  <font size="4"><a href='/login'>Login</a></font><br>
  <font size="4"><a href='/registration'>Register</a></font>

<% }; %>
<p></p>