<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <header><% include partials/_header %></header>

  <div class="contrainer">
  <form action="/urls" method="POST" style="margin:50px;">
    <div class="form-group">
      <label for="longURL" class="control-label col-sm-2">Enter a URL:</label>

      <div class="col-sm-10">
        <input id="longURL" class="form-control" type="text" name="longURL" placeholder="http://">
      </div>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
  </div>

</body>
</html>